<a href="https://colab.research.google.com/github/AMG-AA/churn-insight_Hackathon-Alura/blob/DS-limpieza_datos/Churn_limpieza_Galia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Proyecto: ChurnInsight — **Predicción de Cancelación de Clientes**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Base de datos inicial.csv")
df.head()

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
0,3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
1,3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
2,3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3,3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,...,0,6,No,0,10,No,4-Medium,Other,Other,No
4,3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes

In [ ]:
df.columns

Index(['CustomerID', 'Churn', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs', 'ServiceArea', 'Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam', 'CreditRating', 'PrizmCode', 'Occupation',
       'MaritalStatus'],
      dtype='object')

In [ ]:
df = df.rename(columns={
    'CustomerID': 'id_cliente',
    'Churn': 'abandono',
    'MonthlyRevenue': 'ingreso_mensual',
    'MonthlyMinutes': 'minutos_mensuales',
    'TotalRecurringCharge': 'cargo_recurrente_total',
    'DirectorAssistedCalls': 'llamadas_asistidas_operador',
    'OverageMinutes': 'minutos_excedidos',
    'RoamingCalls': 'llamadas_roaming',
    'PercChangeMinutes': 'porcentaje_cambio_minutos',
    'PercChangeRevenues': 'porcentaje_cambio_ingresos',
    'DroppedCalls': 'llamadas_caidas',
    'BlockedCalls': 'llamadas_bloqueadas',
    'UnansweredCalls': 'llamadas_no_respondidas',
    'CustomerCareCalls': 'llamadas_atencion_cliente',
    'ThreewayCalls': 'llamadas_tres_vias',
    'ReceivedCalls': 'llamadas_recibidas',
    'OutboundCalls': 'llamadas_salientes',
    'InboundCalls': 'llamadas_entrantes',
    'PeakCallsInOut': 'llamadas_hora_pico',
    'OffPeakCallsInOut': 'llamadas_fuera_pico',
    'DroppedBlockedCalls': 'llamadas_caidas_bloqueadas',
    'CallForwardingCalls': 'llamadas_reenvio',
    'CallWaitingCalls': 'llamadas_espera',
    'MonthsInService': 'meses_en_servicio',
    'UniqueSubs': 'suscriptores_unicos',
    'ActiveSubs': 'suscriptores_activos',
    'ServiceArea': 'area_servicio',
    'Handsets': 'cantidad_dispositivos',
    'HandsetModels': 'modelos_dispositivos',
    'CurrentEquipmentDays': 'dias_equipo_actual',
    'AgeHH1': 'edad_titular_hogar',
    'AgeHH2': 'edad_segundo_hogar',
    'ChildrenInHH': 'ninos_en_hogar',
    'HandsetRefurbished': 'equipo_reacondicionado',
    'HandsetWebCapable': 'equipo_con_internet',
    'TruckOwner': 'dueno_camioneta',
    'RVOwner': 'dueno_casa_rodante',
    'Homeownership': 'propietario_vivienda',
    'BuysViaMailOrder': 'compra_por_correo',
    'RespondsToMailOffers': 'responde_ofertas_correo',
    'OptOutMailings': 'rechaza_correo',
    'NonUSTravel': 'viajes_fuera_pais',
    'OwnsComputer': 'posee_computadora',
    'HasCreditCard': 'tiene_tarjeta_credito',
    'RetentionCalls': 'llamadas_retencion',
    'RetentionOffersAccepted': 'ofertas_retencion_aceptadas',
    'NewCellphoneUser': 'usuario_nuevo_celular',
    'NotNewCellphoneUser': 'no_usuario_nuevo_celular',
    'ReferralsMadeBySubscriber': 'referidos_realizados',
    'IncomeGroup': 'grupo_ingresos',
    'OwnsMotorcycle': 'posee_motocicleta',
    'AdjustmentsToCreditRating': 'ajustes_calificacion_crediticia',
    'HandsetPrice': 'precio_dispositivo',
    'MadeCallToRetentionTeam': 'llamo_equipo_retencion',
    'CreditRating': 'calificacion_crediticia',
    'PrizmCode': 'codigo_segmetacion_mercado',
    'Occupation': 'ocupacion',
    'MaritalStatus': 'estado_civil'
})

In [ ]:
df.head()

,id_cliente,abandono,ingreso_mensual,minutos_mensuales,cargo_recurrente_total,llamadas_asistidas_operador,minutos_excedidos,llamadas_roaming,porcentaje_cambio_minutos,porcentaje_cambio_ingresos,...,referidos_realizados,grupo_ingresos,posee_motocicleta,ajustes_calificacion_crediticia,precio_dispositivo,llamo_equipo_retencion,calificacion_crediticia,codigo_segmetacion_mercado,ocupacion,estado_civil
0,3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
1,3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
2,3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3,3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,...,0,6,No,0,10,No,4-Medium,Other,Other,No
4,3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes

In [ ]:
df['estado_civil'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

Continuamos con el EDA.

Empezaremos con:

1️⃣ tamaño del dataset

2️⃣ tipos de variables

3️⃣ valores nulos

#🟢 EDA – PARTE 1: Tamaño y estructura del dataset

In [ ]:
#Cantidad de datos
df.shape

(51047, 58)

In [ ]:
#Vista general de los datos
df.head()

,id_cliente,abandono,ingreso_mensual,minutos_mensuales,cargo_recurrente_total,llamadas_asistidas_operador,minutos_excedidos,llamadas_roaming,porcentaje_cambio_minutos,porcentaje_cambio_ingresos,...,referidos_realizados,grupo_ingresos,posee_motocicleta,ajustes_calificacion_crediticia,precio_dispositivo,llamo_equipo_retencion,calificacion_crediticia,codigo_segmetacion_mercado,ocupacion,estado_civil
0,3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
1,3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
2,3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3,3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,...,0,6,No,0,10,No,4-Medium,Other,Other,No
4,3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes

#🟢 EDA – PARTE 2: Tipos de variables

Ahora queremos saber:

cuáles son numéricas

cuáles son categóricas

In [ ]:
#Información general del DataFrame
df.info()
#Para cada columna observa:
#nombre
#cantidad de valores no nulos
#tipo de dato (int64, float64, object)
#📌 Interpretación básica:
#int64, float64 → variables numéricas
#object → variables categóricas (texto)
#👉 Esto es clave para saber qué variables habrá que transformar más adelante.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51047 entries, 0 to 51046
Data columns (total 58 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id_cliente                       51047 non-null  int64
 1   abandono                         51047 non-null  object
 2   ingreso_mensual                  50891 non-null  float64
 3   minutos_mensuales                50891 non-null  float64
 4   cargo_recurrente_total           50891 non-null  float64
 5   llamadas_asistidas_operador      50891 non-null  float64
 6   minutos_excedidos                50891 non-null  float64
 7   llamadas_roaming                 50891 non-null  float64
 8   porcentaje_cambio_minutos        50680 non-null  float64
 9   porcentaje_cambio_ingresos       50680 non-null  float64
 10  llamadas_caidas                  51047 non-null  float64
 11  llamadas_bloqueadas              51047 non-null  float64
 12  llamadas_no_respondidas          51047 non-null  float64
 13  llamadas_atencion_cliente        51047 non-null  float64
 14  llamadas_tres_vias               51047 non-null  float64
 15  llamadas_recibidas               51047 non-null  float64
 16  llamadas_salientes               51047 non-null  float64
 17  llamadas_entrantes               51047 non-null  float64
 18  llamadas_hora_pico               51047 non-null  float64
 19  llamadas_fuera_pico              51047 non-null  float64
 20  llamadas_caidas_bloqueadas       51047 non-null  float64
 21  llamadas_reenvio                 51047 non-null  float64
 22  llamadas_espera                  51047 non-null  float64
 23  meses_en_servicio                51047 non-null  int64
 24  suscriptores_unicos              51047 non-null  int64
 25  suscriptores_activos             51047 non-null  int64
 26  area_servicio                    51023 non-null  object
 27  cantidad_dispositivos            51046 non-null  float64
 28  modelos_dispositivos             51046 non-null  float64
 29  dias_equipo_actual               51046 non-null  float64
 30  edad_titular_hogar               50138 non-null  float64
 31  edad_segundo_hogar               50138 non-null  float64
 32  ninos_en_hogar                   51047 non-null  object
 33  equipo_reacondicionado           51047 non-null  object
 34  equipo_con_internet              51047 non-null  object
 35  dueno_camioneta                  51047 non-null  object
 36  dueno_casa_rodante               51047 non-null  object
 37  propietario_vivienda             51047 non-null  object
 38  compra_por_correo                51047 non-null  object
 39  responde_ofertas_correo          51047 non-null  object
 40  rechaza_correo                   51047 non-null  object
 41  viajes_fuera_pais                51047 non-null  object
 42  posee_computadora                51047 non-null  object
 43  tiene_tarjeta_credito            51047 non-null  object
 44  llamadas_retencion               51047 non-null  int64
 45  ofertas_retencion_aceptadas      51047 non-null  int64
 46  usuario_nuevo_celular            51047 non-null  object
 47  no_usuario_nuevo_celular         51047 non-null  object
 48  referidos_realizados             51047 non-null  int64
 49  grupo_ingresos                   51047 non-null  int64
 50  posee_motocicleta                51047 non-null  object
 51  ajustes_calificacion_crediticia  51047 non-null  int64
 52  precio_dispositivo               51047 non-null  object
 53  llamo_equipo_retencion           51047 non-null  object
 54  calificacion_crediticia          51047 non-null  object
 55  codigo_segmetacion_mercado       51047 non-null  object
 56  ocupacion                        51047 non-null  object
 57  estado_civil                     51047 non-null  object
dtypes: float64(26), int64(9), object(23)
memory usage: 22.6+ MB

#🟢 EDA – PARTE 3: Valores nulos (muy importante)

In [ ]:
#¿Hay datos faltantes?
df.isnull().sum()
#Esto te mostrará, por columna:
#cuántos valores faltan
#¿Cómo se interpreta?
#Ejemplo:
#edad_segundo_hogar    1200
#ingreso_mensual          0
#0 → columna completa ✅
#número > 0 → habrá que decidir qué hacer luego (limpieza)
#📌 En EDA solo identificamos, todavía no corregimos.

id_cliente                           0
abandono                             0
ingreso_mensual                    156
minutos_mensuales                  156
cargo_recurrente_total             156
llamadas_asistidas_operador        156
minutos_excedidos                  156
llamadas_roaming                   156
porcentaje_cambio_minutos          367
porcentaje_cambio_ingresos         367
llamadas_caidas                      0
llamadas_bloqueadas                  0
llamadas_no_respondidas              0
llamadas_atencion_cliente            0
llamadas_tres_vias                   0
llamadas_recibidas                   0
llamadas_salientes                   0
llamadas_entrantes                   0
llamadas_hora_pico                   0
llamadas_fuera_pico                  0
llamadas_caidas_bloqueadas           0
llamadas_reenvio                     0
llamadas_espera                      0
meses_en_servicio                    0
suscriptores_unicos                  0
suscriptores_activos                 0
area_servicio                       24
cantidad_dispositivos                1
modelos_dispositivos                 1
dias_equipo_actual                   1
edad_titular_hogar                 909
edad_segundo_hogar                 909
ninos_en_hogar                       0
equipo_reacondicionado               0
equipo_con_internet                  0
dueno_camioneta                      0
dueno_casa_rodante                   0
propietario_vivienda                 0
compra_por_correo                    0
responde_ofertas_correo              0
rechaza_correo                       0
viajes_fuera_pais                    0
posee_computadora                    0
tiene_tarjeta_credito                0
llamadas_retencion                   0
ofertas_retencion_aceptadas          0
usuario_nuevo_celular                0
no_usuario_nuevo_celular             0
referidos_realizados                 0
grupo_ingresos                       0
posee_motocicleta                    0
ajustes_calificacion_crediticia      0
precio_dispositivo                   0
llamo_equipo_retencion               0
calificacion_crediticia              0
codigo_segmetacion_mercado           0
ocupacion                            0
estado_civil                         0
dtype: int64

In [ ]:
##Relleno de Variables categorica NaN
df['area_servicio'] = df['area_servicio'].fillna('UNK00')

In [ ]:
#Completando Variables numericas nulas

columnasn_a_nonull = ['ingreso_mensual',
    'minutos_mensuales',
    'cargo_recurrente_total',
    'llamadas_asistidas_operador',
    'minutos_excedidos',
    'llamadas_roaming',
    'porcentaje_cambio_minutos',
    'porcentaje_cambio_ingresos',
    'edad_titular_hogar',
    'edad_segundo_hogar',
    'cantidad_dispositivos',
    'modelos_dispositivos',
    'dias_equipo_actual',
]
for coln in columnasn_a_nonull:
    df[coln] = df[coln].fillna(0)

In [ ]:
df.isnull().sum()

id_cliente                         0
abandono                           0
ingreso_mensual                    0
minutos_mensuales                  0
cargo_recurrente_total             0
llamadas_asistidas_operador        0
minutos_excedidos                  0
llamadas_roaming                   0
porcentaje_cambio_minutos          0
porcentaje_cambio_ingresos         0
llamadas_caidas                    0
llamadas_bloqueadas                0
llamadas_no_respondidas            0
llamadas_atencion_cliente          0
llamadas_tres_vias                 0
llamadas_recibidas                 0
llamadas_salientes                 0
llamadas_entrantes                 0
llamadas_hora_pico                 0
llamadas_fuera_pico                0
llamadas_caidas_bloqueadas         0
llamadas_reenvio                   0
llamadas_espera                    0
meses_en_servicio                  0
suscriptores_unicos                0
suscriptores_activos               0
area_servicio                      0
cantidad_dispositivos              0
modelos_dispositivos               0
dias_equipo_actual                 0
edad_titular_hogar                 0
edad_segundo_hogar                 0
ninos_en_hogar                     0
equipo_reacondicionado             0
equipo_con_internet                0
dueno_camioneta                    0
dueno_casa_rodante                 0
propietario_vivienda               0
compra_por_correo                  0
responde_ofertas_correo            0
rechaza_correo                     0
viajes_fuera_pais                  0
posee_computadora                  0
tiene_tarjeta_credito              0
llamadas_retencion                 0
ofertas_retencion_aceptadas        0
usuario_nuevo_celular              0
no_usuario_nuevo_celular           0
referidos_realizados               0
grupo_ingresos                     0
posee_motocicleta                  0
ajustes_calificacion_crediticia    0
precio_dispositivo                 0
llamo_equipo_retencion             0
calificacion_crediticia            0
codigo_segmetacion_mercado         0
ocupacion                          0
estado_civil                       0
dtype: int64

In [ ]:
#Cambiando columnas de tipo float a int
columnas_a_int = ['minutos_mensuales',
    'minutos_excedidos',
    'cantidad_dispositivos',
    'dias_equipo_actual',
    'edad_titular_hogar',
    'edad_segundo_hogar',
    'llamadas_retencion',
    'ofertas_retencion_aceptadas',
    'referidos_realizados',
    'grupo_ingresos',
]
for col in columnas_a_int:
    df[col] = df[col].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51047 entries, 0 to 51046
Data columns (total 58 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id_cliente                       51047 non-null  int64
 1   abandono                         51047 non-null  object
 2   ingreso_mensual                  51047 non-null  float64
 3   minutos_mensuales                51047 non-null  int64
 4   cargo_recurrente_total           51047 non-null  float64
 5   llamadas_asistidas_operador      51047 non-null  float64
 6   minutos_excedidos                51047 non-null  int64
 7   llamadas_roaming                 51047 non-null  float64
 8   porcentaje_cambio_minutos        51047 non-null  float64
 9   porcentaje_cambio_ingresos       51047 non-null  float64
 10  llamadas_caidas                  51047 non-null  float64
 11  llamadas_bloqueadas              51047 non-null  float64
 12  llamadas_no_respondidas          51047 non-null  float64
 13  llamadas_atencion_cliente        51047 non-null  float64
 14  llamadas_tres_vias               51047 non-null  float64
 15  llamadas_recibidas               51047 non-null  float64
 16  llamadas_salientes               51047 non-null  float64
 17  llamadas_entrantes               51047 non-null  float64
 18  llamadas_hora_pico               51047 non-null  float64
 19  llamadas_fuera_pico              51047 non-null  float64
 20  llamadas_caidas_bloqueadas       51047 non-null  float64
 21  llamadas_reenvio                 51047 non-null  float64
 22  llamadas_espera                  51047 non-null  float64
 23  meses_en_servicio                51047 non-null  int64
 24  suscriptores_unicos              51047 non-null  int64
 25  suscriptores_activos             51047 non-null  int64
 26  area_servicio                    51047 non-null  object
 27  cantidad_dispositivos            51047 non-null  int64
 28  modelos_dispositivos             51047 non-null  float64
 29  dias_equipo_actual               51047 non-null  int64
 30  edad_titular_hogar               51047 non-null  int64
 31  edad_segundo_hogar               51047 non-null  int64
 32  ninos_en_hogar                   51047 non-null  object
 33  equipo_reacondicionado           51047 non-null  object
 34  equipo_con_internet              51047 non-null  object
 35  dueno_camioneta                  51047 non-null  object
 36  dueno_casa_rodante               51047 non-null  object
 37  propietario_vivienda             51047 non-null  object
 38  compra_por_correo                51047 non-null  object
 39  responde_ofertas_correo          51047 non-null  object
 40  rechaza_correo                   51047 non-null  object
 41  viajes_fuera_pais                51047 non-null  object
 42  posee_computadora                51047 non-null  object
 43  tiene_tarjeta_credito            51047 non-null  object
 44  llamadas_retencion               51047 non-null  int64
 45  ofertas_retencion_aceptadas      51047 non-null  int64
 46  usuario_nuevo_celular            51047 non-null  object
 47  no_usuario_nuevo_celular         51047 non-null  object
 48  referidos_realizados             51047 non-null  int64
 49  grupo_ingresos                   51047 non-null  int64
 50  posee_motocicleta                51047 non-null  object
 51  ajustes_calificacion_crediticia  51047 non-null  int64
 52  precio_dispositivo               51047 non-null  object
 53  llamo_equipo_retencion           51047 non-null  object
 54  calificacion_crediticia          51047 non-null  object
 55  codigo_segmetacion_mercado       51047 non-null  object
 56  ocupacion                        51047 non-null  object
 57  estado_civil                     51047 non-null  object
dtypes: float64(20), int64(15), object(23)
memory usage: 22.6+ MB

#🟢 EDA – PARTE 4: Identificar el TARGET (churn)

In [ ]:
#Ver la variable objetivo
df['abandono'].value_counts()
#Interpretación:
#0 → clientes que NO abandonaron
#1 → clientes que SÍ abandonaron

abandono
No     36336
Yes    14711
Name: count, dtype: int64

In [ ]:
#Ver proporciones (muy importante)
df['abandono'].value_counts(normalize=True) * 100
#👉 Esto nos dice:
#el porcentaje de churn
#si hay desbalance de clases (muy común en churn)
#📌 Esto influirá luego en:
#métricas
#interpretación del modelo

abandono
No     71.18146
Yes    28.81854
Name: proportion, dtype: float64

#🧠 Mini-resumen
Hasta aquí sabemos:

✔ cuántos clientes hay
✔ cuántas variables existen
✔ qué tipo de datos tiene cada columna
✔ dónde hay valores nulos
✔ cuál es el target oficial (abandono)
✔ si el churn está balanceado o no

👉 Esto es un EDA bien hecho para un MVP 👏

🔜 SIGUIENTE PASO, podemos:

1️⃣ Analizar variables clave vs abandono

antigüedad (meses_en_servicio)

ingreso (ingreso_mensual)

2️⃣ Sacar primeras conclusiones de negocio

3️⃣ Decidir qué columnas NO usar (ej. id_cliente)

#🟢 EDA – PARTE 5: Análisis del TARGET vs variables clave
🟢 1. Antigüedad del cliente vs abandono
📌 **Variable:** meses_en_servicio
👉 Lectura de negocio:

Los clientes que abandonan tienen mayor antigüedad

Clientes antiguos → mayor riesgo de churn

✔ Este es un patrón muy valioso.

In [ ]:
df.groupby('abandono')['meses_en_servicio'].mean()

abandono
No     18.639641
Yes    19.044321
Name: meses_en_servicio, dtype: float64

🟢 2. Ingreso mensual vs abandono

📌 **Variable:** ingreso_mensual
👉 Lectura de negocio:

Clientes con menor ingreso mensual tienden a abandonar más. Posible sensibilidad al precio

📌 Insight:Podrían ofrecerse planes más económicos a clientes con riesgo.

In [ ]:
df.groupby('abandono')['ingreso_mensual'].mean()

abandono
No     59.033486
Yes    57.719080
Name: ingreso_mensual, dtype: float64

🟢 3. Uso del servicio (minutos) vs abandono

📌 Variable:minutos_mensuales

🧠 Interpretación

Menor uso → mayor probabilidad de abandono

Clientes activos suelen quedarse más tiempo

In [ ]:
df.groupby('abandono')['minutos_mensuales'].mean()

abandono
No     541.262384
Yes    481.525253
Name: minutos_mensuales, dtype: float64

🟢 4. Llamadas a atención al cliente vs abandono

📌 **Variable:**llamadas_atencion_cliente

🧠 Interpretación

**Si los clientes que abandonan** llaman más:

posible insatisfacción

problemas no resueltos

📌 Insight de negocio:

Atención al cliente es una señal temprana de churn.

In [ ]:
df.groupby('abandono')['llamadas_atencion_cliente'].mean()

abandono
No     1.984142
Yes    1.584597
Name: llamadas_atencion_cliente, dtype: float64

🟢 5. Ofertas de retención aceptadas

📌 **Variables:**

ofertas_retencion_aceptadas

llamadas_retencion

🧠 Interpretación

Clientes que aceptan ofertas abandonan menos

Acción de retención sí tiene impacto

✔ Esto valida el valor del modelo para el negocio.

#🟢 EDA – PARTE 6: Variables categóricas vs abandono

6️⃣ Estado civil vs abandono

**Interpretación**

El resultado es un porcentaje

Ejemplo:

0.35 → 35% de abandono en ese grupo

👉 Ayuda a identificar segmentos de mayor riesgo.
**NOTA**
Para el análisis de churn fue necesario convertir la variable objetivo abandono de valores categóricos

In [ ]:
#Convertir abandono a numérico
#df['abandono_num'] = df['abandono'].map({'Yes': 1, 'No': 0})

In [ ]:
#Verificación de la conversión
#df[['abandono', 'abandono_num']].head()

In [ ]:
#df.groupby('estado_civil')['abandono_num'].mean().sort_values(ascending=False)

🟢 7. Tipo de área de servicio

📌 Insight:

Algunas zonas pueden tener:

mala cobertura

peor experiencia

Posibles acciones por región

**Interpretación:**

0.34 → 34% de churn en esa zona

Algunas áreas tienen más riesgo que otras

Posibles causas:

cobertura

calidad de servicio

competencia local

📌 Insight de negocio:

El equipo puede priorizar acciones por región.

In [ ]:
df['area_servicio'].value_counts()

area_servicio
NYCBRO917    1684
HOUHOU281    1510
DALDAL214    1498
NYCMAN917    1182
APCFCH703     783
             ...
SFRRCM510       1
INHKOK765       1
NOLPOH504       1
ATLDBL478       1
NCRDNN910       1
Name: count, Length: 748, dtype: int64

In [ ]:
#df.groupby('area_servicio')['abandono'].mean().sort_values(ascending=False)
#df.groupby('area_servicio')['abandono_num'].mean().sort_values(ascending=False)

🟢 REGLA DE ORO ( 📝)
| Qué quieres hacer  | Qué columna usar |
| ------------------ | ---------------- |
| Mostrar datos      | `abandono`       |
| Calcular promedios | `abandono_num`   |
| Entrenar modelos   | `abandono_num`   |
| Métricas ML        | `abandono_num`   |

🟢 EDA – PARTE 8: Decidir qué columnas NO usar

8️⃣ Columnas que debemos excluir

Ejemplos:

id_cliente → identificador

columnas con demasiados nulos

variables irrelevantes

📌 Esto lo haremos formalmente en el siguiente paso.

🔜 SIGUIENTE ETAPA

Ahora estamos listas para:

👉 ETAPA DE LIMPIEZA + PREPARACIÓN DE DATOS

eliminar columnas innecesarias

tratar valores nulos

preparar datos para ML

#🧹 LIMPIEZA Y PREPARACIÓN DE DATOS

(último paso antes de entrenar el modelo)

Se divide en sub-pasos muy claros, con qué hacer + por qué hacerlo.

🟢 PASO 1:

Eliminar columnas que NO deben usarse
❌ Columnas que NO aportan al modelo

Identificadores

Columnas irrelevantes para predicción

In [ ]:
#Eliminamos id_cliente
#📌 Por qué: el ID no tiene relación con el abandono.
df = df.drop(columns=['id_cliente'])

🟢 PASO 2: Revisar columnas con muchos valores nulos

In [ ]:
# Volvemos a revisar nulos
#df.isnull().sum().sort_values(ascending=False)
#📌 Regla práctica (para un MVP):

#30% nulos → eliminar columna

#≤ 30% → tratar (rellenar)

🟢 PASO 3: Imputar valores nulos (rellenar)

🔹Separar columnas numéricas y categóricas

In [ ]:
#columnas_numericas = df.select_dtypes(include=['int64', 'float64']).columns
#columnas_categoricas = df.select_dtypes(include=['object']).columns

# Se decidió por:
#Para las variables numéricas: colocar los datos NaN como cero.
#Para las variables categóricas: por ejemplo: ‘area_servicio’ colocar los datos NaN como UNK00.
#Verificar en cada columna que los datos que dicen ser float sean realmente float, por ejemplo, si el dato es 14.0 entonces se cambia a entero (int).

🔹 Imputación para columnas numéricas

Usamos mediana (robusta a valores extremos):

🔹 Imputación para columnas categóricas

Usamos el valor más frecuente (moda):

🟢 PASO 4: Verificar que ya no hay valores nulos

👉 El resultado debe ser 0

In [ ]:
df.isnull().sum().sum()

np.int64(0)

#1️⃣ ¿Cómo se decide qué variables son más relevantes para predecir churn?

Se combinan 3 enfoques:
🔹 A. Lógica de negocio (muy importante en churn)

Primero preguntamos:

¿Qué comportamientos indican que un cliente se va a ir?

En un dataset típico como el tuyo (servicios / telecom / fintech), suelen ser relevantes:
| Tipo             | Ejemplos                                        |
| ---------------- | ----------------------------------------------- |
| Uso del servicio | frecuencia_uso, minutos_usados, cantidad_logins |
| Antigüedad       | meses_antiguedad, tiempo_contrato               |
| Pagos            | pagos_atrasados, monto_factura, deuda           |
| Contrato         | tipo_plan, area_servicio                        |
| Perfil cliente   | estado_civil, segmento_mercado                  |
| Historial        | reclamos, soporte_contactado                    |


🔹 B. Análisis estadístico (EDA)

Aquí vemos:

si una variable cambia mucho entre clientes que abandonan y los que no

si una categoría tiene mayor tasa de churn

Ejemplo conceptual:

clientes con pagos atrasados → más abandono
🔹 C. Importancia del modelo (forma más objetiva)

Dejamos que el modelo nos diga:

“¿Qué variables estoy usando más para decidir?”

Esto se hace después de limpiar los datos.

#2️⃣ Preparación segura: separar tipos de variables (SIN errores)

Este código detecta automáticamente qué columnas son numéricas y cuáles categóricas.

✔ No falla

✔ No importa cuántas columnas tengas

✔ Funciona en Colab

📝 Texto profesional para tu notebook

La variable objetivo abandono fue transformada a formato binario (1 = Yes, 0 = No) para permitir el análisis estadístico y el entrenamiento de modelos de clasificación.

In [ ]:
# Variable objetivo
target = 'abandono'
# Conversión segura de Yes / No a 1 / 0
df[target] = df[target].map({'Yes': 1, 'No': 0})
# Variables numéricas (excluyendo el target)
variables_numericas = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
variables_numericas = [col for col in variables_numericas if col != target]

# Variables categóricas
variables_categoricas = df.select_dtypes(include=['object']).columns.tolist()

#3️⃣ Relevancia de variables numéricas (correlación)

📌 Interpretación:

valores cercanos a 1 o -1 → más relevantes

valores cerca de 0 → poco impacto

In [ ]:
correlacion = df[variables_numericas + [target]].corr()[target].sort_values(ascending=False)

correlacion

abandono                           1.000000
dias_equipo_actual                 0.103704
llamadas_retencion                 0.065301
ofertas_retencion_aceptadas        0.034953
suscriptores_unicos                0.034522
meses_en_servicio                  0.018703
minutos_excedidos                  0.015973
suscriptores_activos               0.015515
porcentaje_cambio_ingresos         0.011188
llamadas_roaming                   0.010723
llamadas_reenvio                  -0.001449
llamadas_bloqueadas               -0.005530
referidos_realizados              -0.010686
grupo_ingresos                    -0.012709
llamadas_caidas_bloqueadas        -0.013266
ingreso_mensual                   -0.013361
llamadas_caidas                   -0.015397
ajustes_calificacion_crediticia   -0.017056
edad_segundo_hogar                -0.017792
llamadas_asistidas_operador       -0.019908
llamadas_tres_vias                -0.023854
llamadas_espera                   -0.025653
edad_titular_hogar                -0.028180
llamadas_no_respondidas           -0.029350
llamadas_salientes                -0.032276
cantidad_dispositivos             -0.032828
porcentaje_cambio_minutos         -0.033809
llamadas_entrantes                -0.034232
llamadas_atencion_cliente         -0.035510
llamadas_recibidas                -0.037453
modelos_dispositivos              -0.040025
llamadas_hora_pico                -0.040029
llamadas_fuera_pico               -0.040784
minutos_mensuales                 -0.051063
cargo_recurrente_total            -0.062932
Name: abandono, dtype: float64

#4️⃣ Relevancia de variables categóricas (tasa de churn)

Este código NO genera error, incluso con texto:

📌 Esto responde preguntas como:

¿Qué área_servicio tiene más abandono?

¿Qué tipo_plan cancela más?

In [ ]:
for col in variables_categoricas:
    print(f'\nTasa de abandono por {col}')
    display(
        df.groupby(col)[target]
          .mean()
          .sort_values(ascending=False)
    )

Tasa de abandono por area_servicio

area_servicio
MIABEL561    1.0
SFRRCM510    1.0
INHFIN419    1.0
SFRWTV831    1.0
INHBLU419    1.0
            ...
SFRVAC707    0.0
LAXPER909    0.0
AIRROA252    0.0
AIRCAM803    0.0
VAHWAY540    0.0
Name: abandono, Length: 748, dtype: float64

Tasa de abandono por ninos_en_hogar

ninos_en_hogar
Yes    0.295844
No     0.285736
Name: abandono, dtype: float64

Tasa de abandono por equipo_reacondicionado

equipo_reacondicionado
Yes    0.321957
No     0.282737
Name: abandono, dtype: float64

Tasa de abandono por equipo_con_internet

equipo_con_internet
No     0.373525
Yes    0.278917
Name: abandono, dtype: float64

Tasa de abandono por dueno_camioneta

dueno_camioneta
No     0.289230
Yes    0.283629
Name: abandono, dtype: float64

Tasa de abandono por dueno_casa_rodante

dueno_casa_rodante
No     0.288651
Yes    0.282928
Name: abandono, dtype: float64

Tasa de abandono por propietario_vivienda

propietario_vivienda
Unknown    0.296600
Known      0.283962
Name: abandono, dtype: float64

Tasa de abandono por compra_por_correo

compra_por_correo
No     0.295588
Yes    0.275107
Name: abandono, dtype: float64

Tasa de abandono por responde_ofertas_correo

responde_ofertas_correo
No     0.296251
Yes    0.274836
Name: abandono, dtype: float64

Tasa de abandono por rechaza_correo

rechaza_correo
Yes    0.288564
No     0.288180
Name: abandono, dtype: float64

Tasa de abandono por viajes_fuera_pais

viajes_fuera_pais
No     0.288511
Yes    0.282737
Name: abandono, dtype: float64

Tasa de abandono por posee_computadora

posee_computadora
No     0.288628
Yes    0.286243
Name: abandono, dtype: float64

Tasa de abandono por tiene_tarjeta_credito

tiene_tarjeta_credito
No     0.293823
Yes    0.285482
Name: abandono, dtype: float64

Tasa de abandono por usuario_nuevo_celular

usuario_nuevo_celular
No     0.289887
Yes    0.281046
Name: abandono, dtype: float64

Tasa de abandono por no_usuario_nuevo_celular

no_usuario_nuevo_celular
Yes    0.295807
No     0.286967
Name: abandono, dtype: float64

Tasa de abandono por posee_motocicleta

posee_motocicleta
Yes    0.316642
No     0.287802
Name: abandono, dtype: float64

Tasa de abandono por precio_dispositivo

precio_dispositivo
250        0.450000
40         0.317269
Unknown    0.301739
180        0.300000
200        0.279621
80         0.275510
60         0.275338
150        0.270231
30         0.270197
100        0.269636
10         0.264523
130        0.257482
400        0.239130
240        0.166667
300        0.153846
500        0.125000
Name: abandono, dtype: float64

Tasa de abandono por llamo_equipo_retencion

llamo_equipo_retencion
Yes    0.450430
No     0.282443
Name: abandono, dtype: float64

Tasa de abandono por calificacion_crediticia

calificacion_crediticia
3-Good       0.310107
1-Highest    0.308378
2-High       0.300742
7-Lowest     0.289499
6-VeryLow    0.274306
4-Medium     0.261154
5-Low        0.220957
Name: abandono, dtype: float64

Tasa de abandono por codigo_segmetacion_mercado

codigo_segmetacion_mercado
Rural       0.317113
Town        0.299908
Other       0.286230
Suburban    0.281414
Name: abandono, dtype: float64

Tasa de abandono por ocupacion

ocupacion
Homemaker       0.324841
Student         0.309711
Clerical        0.293103
Other           0.290459
Professional    0.281782
Crafts          0.280448
Self            0.276451
Retired         0.252387
Name: abandono, dtype: float64

Tasa de abandono por estado_civil

estado_civil
Unknown    0.301878
Yes        0.285400
No         0.271030
Name: abandono, dtype: float64

#5️⃣ Importancia usando un modelo (forma más fuerte)

Usamos Random Forest porque:

maneja bien datos categóricos codificados

no exige normalidad

es ideal para churn

🔹 Paso 1: Codificar variables categóricas

In [ ]:
from sklearn.preprocessing import LabelEncoder

df_modelo = df.copy()

le = LabelEncoder()
for col in variables_categoricas:
    df_modelo[col] = le.fit_transform(df_modelo[col])

🔹 Paso 2: Entrenar modelo

In [ ]:
from sklearn.ensemble import RandomForestClassifier

X = df_modelo.drop(columns=target)
y = df_modelo[target]

modelo = RandomForestClassifier(random_state=42)
modelo.fit(X, y)

RandomForestClassifier(random_state=42)

🔹 Paso 3: Importancia de variables

📌 Este ranking es el más usado en hackathons y proyectos reales.

---

In [ ]:
import pandas as pd

importancia = pd.DataFrame({
    'variable': X.columns,
    'importancia': modelo.feature_importances_
}).sort_values(by='importancia', ascending=False)

importancia

                           variable  importancia
27               dias_equipo_actual     0.058497
6         porcentaje_cambio_minutos     0.050233
1                 minutos_mensuales     0.048191
0                   ingreso_mensual     0.043708
21                meses_en_servicio     0.042343
24                    area_servicio     0.042297
7        porcentaje_cambio_ingresos     0.042272
16               llamadas_hora_pico     0.038153
17              llamadas_fuera_pico     0.036642
13               llamadas_recibidas     0.036104
10          llamadas_no_respondidas     0.035589
14               llamadas_salientes     0.034604
2            cargo_recurrente_total     0.030822
18       llamadas_caidas_bloqueadas     0.030763
8                   llamadas_caidas     0.029296
28               edad_titular_hogar     0.026732
15               llamadas_entrantes     0.026536
4                 minutos_excedidos     0.026356
9               llamadas_bloqueadas     0.025486
47                   grupo_ingresos     0.020517
3       llamadas_asistidas_operador     0.020216
29               edad_segundo_hogar     0.019782
5                  llamadas_roaming     0.018961
11        llamadas_atencion_cliente     0.018636
52          calificacion_crediticia     0.018285
20                  llamadas_espera     0.017180
53       codigo_segmetacion_mercado     0.012781
50               precio_dispositivo     0.012501
22              suscriptores_unicos     0.011331
12               llamadas_tres_vias     0.010155
54                        ocupacion     0.010136
25            cantidad_dispositivos     0.009215
55                     estado_civil     0.009174
26             modelos_dispositivos     0.007740
23             suscriptores_activos     0.007192
44            usuario_nuevo_celular     0.005535
31           equipo_reacondicionado     0.005148
30                   ninos_en_hogar     0.005055
45         no_usuario_nuevo_celular     0.004829
40                posee_computadora     0.004602
32              equipo_con_internet     0.004407
35             propietario_vivienda     0.004386
33                  dueno_camioneta     0.004358
36                compra_por_correo     0.004345
37          responde_ofertas_correo     0.004331
41            tiene_tarjeta_credito     0.004326
34               dueno_casa_rodante     0.003253
42               llamadas_retencion     0.003095
46             referidos_realizados     0.002890
39                viajes_fuera_pais     0.002650
49  ajustes_calificacion_crediticia     0.002248
51           llamo_equipo_retencion     0.002162
38                   rechaza_correo     0.001283
48                posee_motocicleta     0.001272
43      ofertas_retencion_aceptadas     0.000894
19                 llamadas_reenvio     0.000503

6️⃣ ¿Cómo se eligen las variables finales?

Regla práctica para tu MVP:

✅ Variables con alta importancia del modelo

✅ Variables entendibles para el negocio

❌ Variables con muchos NaN o sin sentido lógico

📌 Normalmente se usan 5 a 15 variables para un MVP.

#7️⃣ Texto listo para tu notebook

Las variables más relevantes para la predicción de churn se identificaron combinando conocimiento del negocio, análisis exploratorio de datos y la importancia de variables obtenida a partir de un modelo Random Forest.

#🧠 ¿Cómo validamos y seleccionamos las variables finales?

En proyectos reales (y hackathons) NO se eligen solo por el modelo, se combinan 4 criterios:

1️⃣ Criterio 1: Calidad del dato

Primero eliminamos variables que:

tienen muchos NaN

tienen un solo valor

no aportan información

In [ ]:
#porcentaje_nan = df.isna().mean().sort_values(ascending=False)
#porcentaje_nan

#2️⃣ Criterio 2: Relevancia estadística (EDA)
🔹 Numéricas → correlación con abandono

📌 Regla práctica:

correlación > 0.05 → considerar

≈ 0 → descartar

In [ ]:
correlacion = (
    df[variables_numericas + [target]]
    .corr()[target]
    .abs()
    .sort_values(ascending=False)
)

correlacion

abandono                           1.000000
dias_equipo_actual                 0.103704
llamadas_retencion                 0.065301
cargo_recurrente_total             0.062932
minutos_mensuales                  0.051063
llamadas_fuera_pico                0.040784
llamadas_hora_pico                 0.040029
modelos_dispositivos               0.040025
llamadas_recibidas                 0.037453
llamadas_atencion_cliente          0.035510
ofertas_retencion_aceptadas        0.034953
suscriptores_unicos                0.034522
llamadas_entrantes                 0.034232
porcentaje_cambio_minutos          0.033809
cantidad_dispositivos              0.032828
llamadas_salientes                 0.032276
llamadas_no_respondidas            0.029350
edad_titular_hogar                 0.028180
llamadas_espera                    0.025653
llamadas_tres_vias                 0.023854
llamadas_asistidas_operador        0.019908
meses_en_servicio                  0.018703
edad_segundo_hogar                 0.017792
ajustes_calificacion_crediticia    0.017056
minutos_excedidos                  0.015973
suscriptores_activos               0.015515
llamadas_caidas                    0.015397
ingreso_mensual                    0.013361
llamadas_caidas_bloqueadas         0.013266
grupo_ingresos                     0.012709
porcentaje_cambio_ingresos         0.011188
llamadas_roaming                   0.010723
referidos_realizados               0.010686
llamadas_bloqueadas                0.005530
llamadas_reenvio                   0.001449
Name: abandono, dtype: float64

🔹 Categóricas → diferencia en tasa de abandono

📌 Qué buscar:

categorías con diferencias claras

no todas iguales

In [ ]:
for col in variables_categoricas:
    print(f'\nEvaluando: {col}')
    display(
        df.groupby(col)[target]
          .mean()
          .sort_values(ascending=False)
    )

Evaluando: area_servicio

area_servicio
MIABEL561    1.0
SFRRCM510    1.0
INHFIN419    1.0
SFRWTV831    1.0
INHBLU419    1.0
            ...
SFRVAC707    0.0
LAXPER909    0.0
AIRROA252    0.0
AIRCAM803    0.0
VAHWAY540    0.0
Name: abandono, Length: 748, dtype: float64

Evaluando: ninos_en_hogar

ninos_en_hogar
Yes    0.295844
No     0.285736
Name: abandono, dtype: float64

Evaluando: equipo_reacondicionado

equipo_reacondicionado
Yes    0.321957
No     0.282737
Name: abandono, dtype: float64

Evaluando: equipo_con_internet

equipo_con_internet
No     0.373525
Yes    0.278917
Name: abandono, dtype: float64

Evaluando: dueno_camioneta

dueno_camioneta
No     0.289230
Yes    0.283629
Name: abandono, dtype: float64

Evaluando: dueno_casa_rodante

dueno_casa_rodante
No     0.288651
Yes    0.282928
Name: abandono, dtype: float64

Evaluando: propietario_vivienda

propietario_vivienda
Unknown    0.296600
Known      0.283962
Name: abandono, dtype: float64

Evaluando: compra_por_correo

compra_por_correo
No     0.295588
Yes    0.275107
Name: abandono, dtype: float64

Evaluando: responde_ofertas_correo

responde_ofertas_correo
No     0.296251
Yes    0.274836
Name: abandono, dtype: float64

Evaluando: rechaza_correo

rechaza_correo
Yes    0.288564
No     0.288180
Name: abandono, dtype: float64

Evaluando: viajes_fuera_pais

viajes_fuera_pais
No     0.288511
Yes    0.282737
Name: abandono, dtype: float64

Evaluando: posee_computadora

posee_computadora
No     0.288628
Yes    0.286243
Name: abandono, dtype: float64

Evaluando: tiene_tarjeta_credito

tiene_tarjeta_credito
No     0.293823
Yes    0.285482
Name: abandono, dtype: float64

Evaluando: usuario_nuevo_celular

usuario_nuevo_celular
No     0.289887
Yes    0.281046
Name: abandono, dtype: float64

Evaluando: no_usuario_nuevo_celular

no_usuario_nuevo_celular
Yes    0.295807
No     0.286967
Name: abandono, dtype: float64

Evaluando: posee_motocicleta

posee_motocicleta
Yes    0.316642
No     0.287802
Name: abandono, dtype: float64

Evaluando: precio_dispositivo

precio_dispositivo
250        0.450000
40         0.317269
Unknown    0.301739
180        0.300000
200        0.279621
80         0.275510
60         0.275338
150        0.270231
30         0.270197
100        0.269636
10         0.264523
130        0.257482
400        0.239130
240        0.166667
300        0.153846
500        0.125000
Name: abandono, dtype: float64

Evaluando: llamo_equipo_retencion

llamo_equipo_retencion
Yes    0.450430
No     0.282443
Name: abandono, dtype: float64

Evaluando: calificacion_crediticia

calificacion_crediticia
3-Good       0.310107
1-Highest    0.308378
2-High       0.300742
7-Lowest     0.289499
6-VeryLow    0.274306
4-Medium     0.261154
5-Low        0.220957
Name: abandono, dtype: float64

Evaluando: codigo_segmetacion_mercado

codigo_segmetacion_mercado
Rural       0.317113
Town        0.299908
Other       0.286230
Suburban    0.281414
Name: abandono, dtype: float64

Evaluando: ocupacion

ocupacion
Homemaker       0.324841
Student         0.309711
Clerical        0.293103
Other           0.290459
Professional    0.281782
Crafts          0.280448
Self            0.276451
Retired         0.252387
Name: abandono, dtype: float64

Evaluando: estado_civil

estado_civil
Unknown    0.301878
Yes        0.285400
No         0.271030
Name: abandono, dtype: float64

#3️⃣ Criterio 3: Importancia del modelo

(ya lo calculamos, lo reutilizamos)

📌 Regla práctica:

top 10–15 variables

importancia > 0.01 (orientativo)

In [ ]:
importancia

                           variable  importancia
27               dias_equipo_actual     0.058497
6         porcentaje_cambio_minutos     0.050233
1                 minutos_mensuales     0.048191
0                   ingreso_mensual     0.043708
21                meses_en_servicio     0.042343
24                    area_servicio     0.042297
7        porcentaje_cambio_ingresos     0.042272
16               llamadas_hora_pico     0.038153
17              llamadas_fuera_pico     0.036642
13               llamadas_recibidas     0.036104
10          llamadas_no_respondidas     0.035589
14               llamadas_salientes     0.034604
2            cargo_recurrente_total     0.030822
18       llamadas_caidas_bloqueadas     0.030763
8                   llamadas_caidas     0.029296
28               edad_titular_hogar     0.026732
15               llamadas_entrantes     0.026536
4                 minutos_excedidos     0.026356
9               llamadas_bloqueadas     0.025486
47                   grupo_ingresos     0.020517
3       llamadas_asistidas_operador     0.020216
29               edad_segundo_hogar     0.019782
5                  llamadas_roaming     0.018961
11        llamadas_atencion_cliente     0.018636
52          calificacion_crediticia     0.018285
20                  llamadas_espera     0.017180
53       codigo_segmetacion_mercado     0.012781
50               precio_dispositivo     0.012501
22              suscriptores_unicos     0.011331
12               llamadas_tres_vias     0.010155
54                        ocupacion     0.010136
25            cantidad_dispositivos     0.009215
55                     estado_civil     0.009174
26             modelos_dispositivos     0.007740
23             suscriptores_activos     0.007192
44            usuario_nuevo_celular     0.005535
31           equipo_reacondicionado     0.005148
30                   ninos_en_hogar     0.005055
45         no_usuario_nuevo_celular     0.004829
40                posee_computadora     0.004602
32              equipo_con_internet     0.004407
35             propietario_vivienda     0.004386
33                  dueno_camioneta     0.004358
36                compra_por_correo     0.004345
37          responde_ofertas_correo     0.004331
41            tiene_tarjeta_credito     0.004326
34               dueno_casa_rodante     0.003253
42               llamadas_retencion     0.003095
46             referidos_realizados     0.002890
39                viajes_fuera_pais     0.002650
49  ajustes_calificacion_crediticia     0.002248
51           llamo_equipo_retencion     0.002162
38                   rechaza_correo     0.001283
48                posee_motocicleta     0.001272
43      ofertas_retencion_aceptadas     0.000894
19                 llamadas_reenvio     0.000503

#4️⃣ Criterio 4: Interpretabilidad de negocio

Pregúntate:

¿Puedo explicar esta variable a marketing o soporte?

❌ Ejemplo a descartar:

IDs

códigos técnicos sin significado

#✅ Selección final (PASO CLAVE)
🔹 Unimos todos los criterios

📌 Este es tu primer set final de features.

In [ ]:
variables_seleccionadas = importancia[
    importancia['importancia'] > 0.01]['variable'].tolist()

variables_seleccionadas

['dias_equipo_actual',
 'porcentaje_cambio_minutos',
 'minutos_mensuales',
 'ingreso_mensual',
 'meses_en_servicio',
 'area_servicio',
 'porcentaje_cambio_ingresos',
 'llamadas_hora_pico',
 'llamadas_fuera_pico',
 'llamadas_recibidas',
 'llamadas_no_respondidas',
 'llamadas_salientes',
 'cargo_recurrente_total',
 'llamadas_caidas_bloqueadas',
 'llamadas_caidas',
 'edad_titular_hogar',
 'llamadas_entrantes',
 'minutos_excedidos',
 'llamadas_bloqueadas',
 'grupo_ingresos',
 'llamadas_asistidas_operador',
 'edad_segundo_hogar',
 'llamadas_roaming',
 'llamadas_atencion_cliente',
 'calificacion_crediticia',
 'llamadas_espera',
 'codigo_segmetacion_mercado',
 'precio_dispositivo',
 'suscriptores_unicos',
 'llamadas_tres_vias',
 'ocupacion']

#2️⃣ Código para obtener SOLO las variables con correlación > 0.05
📌 Resultado:

Lista clara de variables numéricas relevantes

Ordenadas de más a menos importantes

In [ ]:
# Calcular correlación absoluta con el target
correlacion = (
    df[variables_numericas + [target]]
    .corr()[target]
    .abs()
)

# Filtrar variables con correlación > 0.05 (excluyendo el target)
variables_correlacionadas = correlacion[
    (correlacion > 0.05) & (correlacion.index != target)
]

variables_correlacionadas.sort_values(ascending=False)

dias_equipo_actual        0.103704
llamadas_retencion        0.065301
cargo_recurrente_total    0.062932
minutos_mensuales         0.051063
Name: abandono, dtype: float64

In [ ]:
#Verlas como lista (para selección final)
variables_numericas_relevantes = variables_correlacionadas.index.tolist()
variables_numericas_relevantes

['minutos_mensuales',
 'cargo_recurrente_total',
 'dias_equipo_actual',
 'llamadas_retencion']

#4️⃣ ¿Y las categóricas?

❗ Importante:

La correlación NO aplica directamente a variables categóricas, por eso se evalúan así:

📌 Aquí eliges las que muestran:

diferencias claras entre categorías

sentido de negocio

In [ ]:
for col in variables_categoricas:
    print(f'\n{col}')
    display(
        df.groupby(col)[target]
          .mean()
          .sort_values(ascending=False)
    )

area_servicio

area_servicio
MIABEL561    1.0
SFRRCM510    1.0
INHFIN419    1.0
SFRWTV831    1.0
INHBLU419    1.0
            ...
SFRVAC707    0.0
LAXPER909    0.0
AIRROA252    0.0
AIRCAM803    0.0
VAHWAY540    0.0
Name: abandono, Length: 748, dtype: float64

ninos_en_hogar

ninos_en_hogar
Yes    0.295844
No     0.285736
Name: abandono, dtype: float64

equipo_reacondicionado

equipo_reacondicionado
Yes    0.321957
No     0.282737
Name: abandono, dtype: float64

equipo_con_internet

equipo_con_internet
No     0.373525
Yes    0.278917
Name: abandono, dtype: float64

dueno_camioneta

dueno_camioneta
No     0.289230
Yes    0.283629
Name: abandono, dtype: float64

dueno_casa_rodante

dueno_casa_rodante
No     0.288651
Yes    0.282928
Name: abandono, dtype: float64

propietario_vivienda

propietario_vivienda
Unknown    0.296600
Known      0.283962
Name: abandono, dtype: float64

compra_por_correo

compra_por_correo
No     0.295588
Yes    0.275107
Name: abandono, dtype: float64

responde_ofertas_correo

responde_ofertas_correo
No     0.296251
Yes    0.274836
Name: abandono, dtype: float64

rechaza_correo

rechaza_correo
Yes    0.288564
No     0.288180
Name: abandono, dtype: float64

viajes_fuera_pais

viajes_fuera_pais
No     0.288511
Yes    0.282737
Name: abandono, dtype: float64

posee_computadora

posee_computadora
No     0.288628
Yes    0.286243
Name: abandono, dtype: float64

tiene_tarjeta_credito

tiene_tarjeta_credito
No     0.293823
Yes    0.285482
Name: abandono, dtype: float64

usuario_nuevo_celular

usuario_nuevo_celular
No     0.289887
Yes    0.281046
Name: abandono, dtype: float64

no_usuario_nuevo_celular

no_usuario_nuevo_celular
Yes    0.295807
No     0.286967
Name: abandono, dtype: float64

posee_motocicleta

posee_motocicleta
Yes    0.316642
No     0.287802
Name: abandono, dtype: float64

precio_dispositivo

precio_dispositivo
250        0.450000
40         0.317269
Unknown    0.301739
180        0.300000
200        0.279621
80         0.275510
60         0.275338
150        0.270231
30         0.270197
100        0.269636
10         0.264523
130        0.257482
400        0.239130
240        0.166667
300        0.153846
500        0.125000
Name: abandono, dtype: float64

llamo_equipo_retencion

llamo_equipo_retencion
Yes    0.450430
No     0.282443
Name: abandono, dtype: float64

calificacion_crediticia

calificacion_crediticia
3-Good       0.310107
1-Highest    0.308378
2-High       0.300742
7-Lowest     0.289499
6-VeryLow    0.274306
4-Medium     0.261154
5-Low        0.220957
Name: abandono, dtype: float64

codigo_segmetacion_mercado

codigo_segmetacion_mercado
Rural       0.317113
Town        0.299908
Other       0.286230
Suburban    0.281414
Name: abandono, dtype: float64

ocupacion

ocupacion
Homemaker       0.324841
Student         0.309711
Clerical        0.293103
Other           0.290459
Professional    0.281782
Crafts          0.280448
Self            0.276451
Retired         0.252387
Name: abandono, dtype: float64

estado_civil

estado_civil
Unknown    0.301878
Yes        0.285400
No         0.271030
Name: abandono, dtype: float64

#**Propuesta de VARIABLES FINALES (recomendada)**

In [ ]:
variables_numericas_finales = [
    'minutos_mensuales',
    'cargo_recurrente_total',
    'dias_equipo_actual',
    'llamadas_retencion'
]
variables_categoricas_finales = [
    'area_servicio',
    'grupo_ingresos',
    'calificacion_crediticia'
]

#variables_sin_leakage = [
    'minutos_mensuales',
    'cargo_recurrente_total',
    'dias_equipo_actual',
    'area_servicio',
    'grupo_ingresos',
    'calificacion_crediticia'
]

In [ ]:
variables_finales =['minutos_mensuales',
'cargo_recurrente_total',
'dias_equipo_actual',
'area_servicio',
'grupo_ingresos',
'calificacion_crediticia']

df_final = df[variables_finales]

In [ ]:
variables_finales_con_target = variables_finales + ['abandono']

df_final = df[variables_finales_con_target]
df_final.head()

,minutos_mensuales,cargo_recurrente_total,dias_equipo_actual,area_servicio,grupo_ingresos,calificacion_crediticia,abandono
0,219,22.0,361,SEAPOR503,4,1-Highest,1
1,10,17.0,1504,PITHOM412,5,4-Medium,1
2,8,38.0,1812,MILMIL414,6,3-Good,0
3,1312,75.0,458,PITHOM412,6,4-Medium,0
4,0,17.0,852,OKCTUL918,9,1-Highest,1

#**Guardar el DataFrame como CSV**

📌 index=False es importante para no guardar el índice como columna.

In [ ]:
df_final.to_csv('dataset_churn_final_sin_leakage.csv', index=False)

In [ ]:
df_final.head()
df_final.shape

(51047, 7)

In [ ]:
from google.colab import files

files.download('dataset_churn_final_sin_leakage.csv')

#**NOTA**
Se generó un dataset final con las variables seleccionadas sin presencia de data leakage, el cual fue exportado en formato CSV para su uso en el entrenamiento del modelo final y despliegue.